<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <title> NB Text classifier </title>
</head>

<style>
    body {
        background-color:wheat;
        color: black;
        text-align: center;
        padding-right: 90px;
    }

</style>

<body>

    <h1 style="font-size: 28; text-align: center; font-weight: bold;"><u>Text Classifier</u></h1>
<br>



<div class = "login" style="font-size: 18px">
<!-- Inputs to our model-->
<form action="{{ url_for('predict')}} " method="post">

    <label for="input"> <b>Please enter the text to classify :</b> </label>
    <input type = "text"  id = "input" name = "input" placeholder = "input_text" required = "required" />

    <button type="submit" class="btn btn-primary btn-block btn-large" style="padding: 10px 15px" >Classify</button>
    
    <br><br> <b>Result: </b>{{ prediction_text }}

    </form> <br><br><br><br><br>

    <footer class="button"><f> Designed by <a href="https://www.linkedin.com/in/svsriramerramilli/" style="text-align: center;" > S V Sriram Erramilli </a> | <a href="https://github.com/esvs2202/Text-Classification-Application" style="text-align: center;"> Code available @ Github</a> </f></footer>
    <!--footer class="button"></footer-->

<style>
a:link, a:visited {
  color: blue;
  padding: 2px 5px;
  }


</style>
</div>
</body>
</html>
